.Container{
    width: 100%;
    display:flex;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.CardsContainer{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding: 4px;
    justify-content: center;
}

.cardMovie{
    width: 25vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    border: 4px solid	#008080;
    margin: 2%;
}

.containerimg{
    margin: 2px;
}

.cardimg{
    width: 12vw;
}

.cardText{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 6%;
}

.title{
    font-family: 'Merriweather', serif;
    font-size: 2.5vh !important;
    margin: 0;
}

.info{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8vh;
    margin: 0;
}

.btnCards{
    width: 8vw;
    height: 6vh;
    padding: 2px;
    margin: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vh;
}

@media only screen and (max-width: 600px) {
    .cardMovie{
        width: 45vw;
        height: 62vh;
        display: flex;
        flex-direction: column;
    }

    .cardimg{
        width: 35vw;
    }

    .cardText{
        width: 35vw;
    }
} 
    
@media only screen and (min-width: 601px) and (max-width: 959px) {

    header{
        width: 90%;
        margin: 5px;
    }
    
    .cardMovie{
        width: 40vw;
        height: 57vh;
        display: flex;
        flex-direction: column;
    }

    .cardimg{
        width: 30vw;
    }

    .cardText{
        width: 34vw;
    }

    .cardText .title{
        font-size: 2vh;
    }

    .cardText .info{
        font-size: 1.5vh;
    }

} 